<%= @book.each do |elem, val| %>
  <div class="col s6 m6 l4" id="photo"><img src="<%= book.image_link %>"></div>
    <div class="col s6 m6 l4" id="content">
      	<h2 class="title"><%= book.title %></h2>
      	<p class="author"><%= book.author %></p>
      	<a href="<%= book.info_link %>">Book Info</a>
    </div>
<% end %>