
<h1>Guest List</h1>

<% @attendees.each do |attendee| %>
<div>
<p>Guest: <%= attendee.name %> <%= attendee.last_name %></p>
<span>Age: <%= attendee.age %></span> 
<span>Likes Beer: <%= attendee.likes_beer %></span>
</div>
<br />




<h4><a href="/new">Add Guest</a></h4>
<h4><a href="/guest/<%= attendee.id %>/edit">Edit Guest List</a></h4>
<% end %>